.articleTw{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.article-headerTw{
  display: flex;
  align-items: center;
  gap: 4px;
}

.article-header-divTw {
  display: flex;
  flex-direction: column;
}

.article-header-spanTw{
  opacity: .6;
}

.article-imgTw{
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

.article-buttonTw{
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.article-buttonTw:hover{
  /* background-color: #09f; */
  opacity: .8;
}

.article-buttonTw-text{
  display: block;
}

.article-buttonTw.is-following{
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 130px;
}

.article-buttonTw.is-following:hover{
  background-color: rgba(255, 0,0,0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease all;
  opacity: 1;
}

.article-buttonTw.is-following:hover .article-buttonTw-text{
  display: none;
}

.article-buttonTw.is-following:hover .article-buttonTw-stopFollow{
  display: block;
}

.article-buttonTw-stopFollow{
  display: none;
}
